<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="connDesenvolvimento" connectionString="Data Source=paladio04;Initial Catalog=SincronizacaoDev;Persist Security Info=True;User ID=Sincronizacao;Password=Sinc2012" providerName="System.Data.SqlClient"/>
    <add name="connHomologacao" connectionString="Data Source=paladio04;Initial Catalog=SincronizacaoHomologacao;Persist Security Info=True;User ID=Sincronizacao;Password=Sinc2012" providerName="System.Data.SqlClient"/>
    <add name="connProducao" connectionString="Data Source=paladio04;Initial Catalog=Sincronizacao;Persist Security Info=True;User ID=Sincronizacao;Password=Sinc2012" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="URLOrigem" value="\\10.10.12.226\musical\ROBO\Origem\"/>
    <add key="URLDestino" value="\\10.10.12.226\musical\ROBO\Destino\"/>
    <add key="PastaExportacao" value="\\10.10.12.226\musical\ROBO\Exportacao\"/>
   
    <!--<add key="URLOrigem" value="C:\smusical\ROBO\Origem\" />
    <add key="URLDestino" value="C:\smusical\ROBO\Destino\" />
    <add key="PastaExportacao" value="C:\smusical\ROBO\Exportacao\" />-->
  
    <add key="database" value="connProducao"/>
    <!-- connDesenvolvimento - connHomologacao - connProducao -->
  </appSettings>
</configuration>
